<aside>
  <div class="container sidebar-padding">
    <h2 class="sidebar-title">دسته ها</h2>

    <ul class="sidebar-ul">
      <li class="sidebar-li">
        <a href="#" class="sidebar-a">
          <img src="/home/img/home.svg" class="sidebar-img" alt="" />

          املاک
        </a>
      </li>

      <li class="sidebar-li">
        <a href="#" class="sidebar-a">
          <img src="/home/img/car.svg" class="sidebar-img" alt="" />

          وسایل نقلیه
        </a>
      </li>

      <li class="sidebar-li">
        <a href="#" class="sidebar-a">
          <img src="/home/img/mobile.svg" class="sidebar-img" alt="" />

          کالای دیجیتال
        </a>
      </li>

      <li class="sidebar-li">
        <a href="#" class="sidebar-a">
          <img src="/home/img/home.svg" class="sidebar-img" alt="" />

          خانه و آشپزخانه
        </a>
      </li>

      <li class="sidebar-li">
        <a href="#" class="sidebar-a">
          <img src="/home/img/paint.svg" class="sidebar-img" alt="" />

          خدمات
        </a>
      </li>

      <li class="sidebar-li">
        <a href="#" class="sidebar-a">
          <img src="/home/img/mobile.svg" class="sidebar-img" alt="" />

          وسایل شخصی
        </a>
      </li>

      <li class="sidebar-li">
        <a href="#" class="sidebar-a">
          <img src="/home/img/dice.svg" class="sidebar-img" alt="" />

          سرگرمی و فراغت
        </a>
      </li>

      <li class="sidebar-li">
        <a href="#" class="sidebar-a">
          <img src="/home/img/chair.svg" class="sidebar-img" alt="" />

          تجهیزات و صنعتی
        </a>
      </li>

      <li class="sidebar-li">
        <a href="#" class="sidebar-a">
          <img src="/home/img/suitcase.svg" class="sidebar-img" alt="" />

          استخدام و کاریابی
        </a>
      </li>
    </ul>
  </div>
</aside>
