<header>
  <div class="container">
    <nav>
      <div class="logo">
        <a href="/">
          <img class="logo-img" src="/home/img/download.svg" alt="" />
        </a>
        <hr />
        <button class="btn-header">
          <img class="icon-header" src="/home/img/location.svg" alt="" />
          <span>کرج</span>
        </button>
        <button class="btn-header">
          <span>دسته ها</span>
          <img class="icon-header" src="/home/img/arrow-down.svg" alt="" />
        </button>
        <input
          type="text"
          class="input-search"
          placeholder="جستجو در همهٔ آگهی‌ها" />
      </div>
      <div class="navbar">
        <button class="btn-header">
          <img class="icon-header" src="/home/img/user.svg" alt="" />
          <span>دیوار من</span>
        </button>
        <button class="btn-header">
          <img class="icon-header" src="/home/img/message.svg" alt="" />
          <span>چت</span>
        </button>
        <button class="btn-header">
          <span>پشتیبانی</span>
        </button>
        <button class="btn-header btn-red">
          <span>ثبت آگهی</span>
        </button>
      </div>
    </nav>
  </div>
</header>
